*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;

}
body {
    color: #171F25;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('/pictures/background/SOCIAL-MEDIA.-2-png\ 1.png'); /* Background image */
    position: relative;

}

/*haeder start*/
header {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    margin-top: 56px;
}



header .logo img {
    height: 50px;
    margin-left: 100px;
  margin-bottom: 25px;
}

 nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
   
}

 nav ul li a {
    text-decoration: none;
    color: #171D22 ;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a.active, nav ul li a:hover {
    color: #D82128;
} 

nav ul li {
    margin: 20px 0;
}
header{
    position: relative;
}
#check {
    display: none;
    position: absolute;
    right: 130px;
}
.icons {
    font-size: 5rem;
    color: #171c21;
    cursor: pointer;
    margin-right: 100px;
    display: none;
}
.icons #close-icon {
   display: none;
}
/* This class will disable scrolling */
.no-scroll {
    overflow: hidden;
  }
  

/*haeder end*/





/* Main Section */
main {
    padding: 2rem;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}


/* Blog intro styles */
.intro {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.intro-content {
    text-align: center;
    max-width: 1010px;
    margin: auto;
}

.intro-header {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row; /* Stack image and text vertically */
    gap: 0px; /* Add some space between the image and the text */
}


.intro-header h1 {
    
    height: 102px;
    top: 230px;
    left: 485px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
    line-height: 58.51px;
    color: rgba(212, 52, 58, 1);

    width: 260px; /* Let the text take its natural width */
    text-align: left;
    


}
.intro-header h1 span{
    display: flex;
}

.intro-header img {
    width: 244px;
    height: 212px;
    top: 187px;
    left: 749px;
    gap: 0px;
    opacity: 0px;

}






/* intro ends*/



/* Quiz Intro Section */

.quiz-car {
    background-color: white;
    box-shadow: 0px 3.75px 3.75px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    padding: 30px;
    gap: 0;
    opacity: 1;
    border-radius: 32.83px;
    width: 90%;
    height: auto; /* Adjusted to auto to adapt to content size */
    max-width: 1060px;
    margin: 30px auto;
    flex-direction:row;
    justify-content: space-between; /* Better alignment */
}

.quiz-content {
    max-width: 500px;
    margin: 30px;
}

.quiz-content h1 {
    color: rgba(23, 30, 37, 1);
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
}

.quiz-content p {
    color: rgba(79, 84, 89, 1);
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
    
}



.quiz-cta img {
    
    margin: 30px;
    width: 405px;
    height: 405px;
    top: 514px;
    left: 743px;
    gap: 0px;
    opacity: 0px;

}

.play-btn {
    background-color: rgba(119, 76, 188, 1);
    color: white;
    border: none;
    padding:10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;

}

.play-btn:hover {
    background-color: #5523b3;
}

.play-btn svg {
    margin-right: 10px;
    font-weight: bold;
}

/*play*/

.quiz-dashboard {
    background-color: rgba(242, 227, 255, 1);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    gap: 0;
    opacity: 1;
    border-radius: 32.83px;
    width: 90%;
    height: auto; /* Adjusted to auto to adapt to content size */
    max-width: 1069px;
    margin: 30px auto;
    flex-direction: column;
    justify-content: space-between; /* Better alignment */
    box-shadow: 0px 4.08px 4.08px 0px rgba(0, 0, 0, 0.25);


}

.first-section{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: column;
}
.quiz-dashboard h1 {
    font-size: 24px;
    color: rgba(23, 30, 37, 1);
    display: flex;
    align-items: flex-start;

    font-family: Montserrat;
    font-size: 32px;
    font-weight: 800;
    line-height: 39.01px;
    text-align: left;
    width: 547px;
height: 39px;
top: 1034px;
left: 209px;
gap: 0px;
opacity: 0px;


}

.quiz-dashboard p {
    color: rgba(79, 84, 89, 1);
    width: 400px;
height: 24px;
top: 1083px;
left: 208.98px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;

}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: max-content;;
    align-items: center;
    border-radius: 38px;
    background: white;
    margin-right: 23px auto;
}
.material-symbols-outlined{
    margin-left: 10px;
    color:#888 ;
}

#search-bar {
    width: 290px;
    padding: 10px;
    border:none;
    border-radius: 40px;
    font-size: 15px ;
    background: transparent;
    outline: none;
    color: #888;
}
#search-bar:hover{
    color:white;
}

.section2 {
    margin: 20px;
    
}

.section2 h2{
    width: 290px;
height: 39.78px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 24.48px;
font-weight: 800;
line-height: 29.84px;
color: rgba(23, 30, 37, 1);

margin: 20px auto;
}

.quiz-grid {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap ;

}





.quiz-card {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    margin: 12px;

    width: 215.23px;
height: 215.23px;
top: 1230.85px;
left: 244.8px;
gap: 0px;
opacity: 0px;
box-shadow: 0px 4.08px 4.08px 0px rgba(0, 0, 0, 0.25);

}

.quiz-card:hover {
    transform: scale(1.05);
}

.b5{
    display: flex;
    justify-content:space-around;
    align-items: center;

}



.b2 p {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgba(23, 30, 37, 1);
    width: 139.75px;
height: 24.48px;
top: 2580.22px;
left: 731.36px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 16.32px;
font-weight: 700;
line-height: 19.89px;
text-align: left;



}

.b2 span {
    display: block;
    color: rgba(79, 84, 89, 1);
    font-size: 14px;
    font-family: Montserrat;
font-size: 16.32px;
font-weight: 600;
line-height: 19px;
text-align: left;
width: 69.36px;
height: 39.7px;
top: 2609.8px;
left: 731.36px;
gap: 0px;
opacity: 0px;
justify-content: space-between;


}

.b5 .btn {
    background-color: rgba(119, 76, 188, 1); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 16px 16px 12px 12px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 50px;
    height: 50px;
    top: 2609.8px;
    left: 842.54px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    background-size: 20px;
    /*margin-right: 15px;
    margin-top: 15px;*/
    box-shadow: 0px 4.08px 4.08px 0px rgba(0, 0, 0, 0.25);
    
    

  }

  .btn:hover {
    background-color: rgba(119, 76, 188, 1);
    transform: scale(1.05);
  }





/*footer start*/
footer {
    background-color: #171F25;
    color: white;
    padding: 100px 20px 30px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3,auto);
   justify-content: space-around;
    align-items: baseline;
    align-content: baseline;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-top .contact-us h3 {
    font-size: 29px;
    font-weight: 500;
    line-height: 35.35px;
    padding-bottom: 40px;
    transform: translateX(-25%);
    position: absolute;
    top:90px;
}

.footer-top .contact-us p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    position: relative;
    margin-top: 30px;
}
.footer-top .contact-us #email::before {
    content: "";
    position: absolute;
    left: -50px; 
    top: 75%; 
    transform: translateY(-50%);
    background-image: url('/pictures/logos/email.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; 
    height: 30px; 
}
.footer-top .contact-us #location::before {
    content: "";
    position: absolute;
    left: -50px; 
    top: 50%; 
    transform: translateY(-50%);
    background-image: url('/pictures/logos/location.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; 
    height: 30px; 
}
.footer-top .contact-us #location {
    margin-top: 23px;
}

.footer-logo img {
    width: 82px;
    height: 66px;
    margin-bottom: 50px;
}
footer .contact-us{
    position: relative;
}


footer .icons {
   transform: translateX(-30%);
}
footer .icons i {
   color: #FFFFFF;
   font-size: 20px;
   margin:45px 25px 0;
   border-radius: 20px;
   border: 1px solid #FFFFFF;
   padding:10px;
}
footer .icons i:hover {
    cursor: pointer;
    background-color: #1f3749; 
    border-color: #1DA1F2; 
    color: #ffffff;
}

footer .icons a {
 text-decoration: none;
 cursor:auto;
}


.about-us h3 {
    padding-bottom: 20px;
    font-size: 29px;
    font-weight: 500;
    line-height: 35.35px;
    white-space: nowrap;

}

.about-us p a {
    text-decoration: none;
    color: #FFFFFF;
}
.about-us p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    padding: 9px 0 ;
}
.about-us p:hover {
    text-shadow: 3px 4px 10px #8ecdfe;
}
.about-us {
    position: relative;
}
.about-us::before {
    content: "";
    position: absolute;
    background-color: #FFFF;
    height: 174px;
    width: 1px;
    left: -50px;
    top:15px;
    opacity: 0.5;
}
.about-us::after {
    content: "";
    position: absolute;
    background-color: #FFFF;
    height: 174px;
    width: 1px;
    right: -120px;
    top:15px;
    opacity: 0.5;
}


.join-us p {
    text-decoration: none;
    white-space: pre-line;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    padding-bottom: 30px;
   
}
.join-us button {
    width: 148px;
    height: 45px;
    border-radius: 15px ;
    border: 0.79px solid white;
   background-color: #171F25;
   color: #FFFFFF;

}
.join-us button:hover {
    cursor: pointer;
    background-color:#1f3749 ;
}


.footer-bottom {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-top: 10px;
    text-align: center;
    position: relative;
}
.footer-bottom::before {
    position: absolute;
    content: "";
    background-color: #ffff;
    opacity: 0.5;
    width: 985px;
    height: 1px;
    top: -10px;
    transform: translateX(-50%);
}

/*footer end*/



@media (max-width:1440px){
    header nav{
        margin-right: 100px;
    }
}
@media (max-width:1236px){
    .about-us::after{
        content: "";
        position: absolute;
        background-color: #FFFF;
        height: 174px;
        width: 1px;
        right: -80px;
        top:15px;
        opacity: 0.5;
    }
}

@media (max-width:1110px){
    .about-us::after{
        content: "";
        position: absolute;
        background-color: #FFFF;
        height: 174px;
        width: 1px;
        right: -55px;
        top:15px;
        opacity: 0.5;
    }
}
@media (max-width:1080px){
    .about-us::after{
        right: -35px;
    }
    footer {
        padding-left: 50px;
    }
    .footer-bottom::before {
        position: absolute;
        content: "";
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        width: 985px;
        height: 1px;
        top: -10px;
        transform: translateX(-52.5%);
    }
    
    
}

@media (max-width:1045px){
    #join-us p{
    font-size: 20px;
  
}
}
   
@media (max-width:1025px){
    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
        align-items: baseline;
        align-content: baseline;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .footer-top .join-us{
        padding-left: 210px;
        margin-top: 50px;
    }
    .footer-top .join-us p ,
    .footer-top .join-us {
        text-align: center;
    }
    footer .icons {
        transform: translateX(-10%);
        margin-bottom:35px ;
     }
     footer .icons i{
        color: #FFFFFF;
        font-size: 20px;
        margin:45px 25px 0;
        border-radius: 20px;
        border: 1px solid #FFFFFF;
        padding:10px;
     }
     .about-us{
        transform: translateX(-100%);
     }
     .footer-bottom::before {
        position: absolute;
        content: "";
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        width: 700px;
        height: 1px;
        top: -10px;
        transform: translateX(-52.5%);
    }
   footer{
    height: 677px;
   }
}


   @media(max-width:853px){
    header .logo img{
        margin-left: 60px;
        padding-right: 30px;

    }
    header nav ul{
        white-space: nowrap;
        gap: 8px;
    }
}

    @media(max-width:820px){

        header .logo img{
            margin-left: 60px;
            padding-right: 30px;
    
        }
        nav ul{
            gap:8px;
            white-space: nowrap;
           
        }
        footer{
            height: 670px;
           }
        footer .contact-us {
            padding-left: 40px;
        }
    
    
    }

    @media (max-width:768px){

         header .logo img {
          margin-left: 40px;
        }

        footer{
            height: 750px;
            padding-left: 100px;
        }
        .footer-top .join-us{
            margin-right: 120px;
            margin-top: 80px;
        }
        .footer-top .join-us p{
            white-space:pre-line;
            
        }

        .intro-header {
            flex-direction: column; /* Stack image and text vertically */
            text-align: center;
        }
    
        .intro-header h1 {
            text-align: center; /* Center the text under the image */
            font-size: 36px;
            line-height: 46px;
            margin-top: 130px;
            display: flex;
            align-items: flex-start;
        }

        .intro-header h1 span{
            display: flex;
            
        }
    
        .intro-header img {
            width: 200px;
            height: auto;
            margin-top: -300px;
        }

        .quiz-car {
            flex-direction: column; /* Stack content vertically */
            align-items: center;
            padding: 20px;
        }
    
        .quiz-content {
            max-width: 100%; /* Full width for content */
            margin: 20px 0;
            text-align: center; /* Center align text */
            
        }
    
        .quiz-content h1 {
            font-size: 40px; /* Adjust font size for smaller screens */
            
        }
    
        .quiz-content p {
            font-size: 17px; /* Slightly smaller text */
        }
    
        .quiz-cta img {
            width: 300px; /* Reduce image size */
            height: 300px;
            margin: 0 auto;
            
        }
    
        .play-btn {
            padding: 10px 20px;
            font-size: 16px; /* Reduce button size */
        }
        .first-section {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .title h1 {
            font-size: 28px;
            width: 100%;
            margin-bottom: 10px;
        }
    
        .quiz-dashboard p {
            font-size: 18px;
            width: 100%;
        }
    
        .search-bar-container {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
        }
    
        .quiz-grid {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
    
        .quiz-card {
            width: 190px;
            height: 190px;
        }
    
        .btn {
            padding: 12px 15px;
            font-size: 16px;
        }
    }
    
    @media (max-width:540px){
      
        footer{
            height: 700px;
        }
    }
    
    @media (max-width:425px){
        nav{
            padding-right: 70px;
            padding-top: 50px;
        }

        header .logo img {
            height: 70px;
            margin-left: 20px; /* Adjust logo margin for mobile */
        }
    
          nav ul li {
            text-align: center;
            padding: 15px 0;
            z-index: 999;
          }
          header nav ul li a{
            font-size: 35px;
            color: #ffff;
            display: block;
            margin: 1.5rem 0;
            text-align:center ;
            padding: 50px 0;
            margin: 0 20px 0;
          }
          nav ul li a.active, nav ul li a:hover {
            color: #ffffff;
        } 
          header nav ul li a:hover{
            background-color: #12181d;
            border-radius: 20px;
         
          }
          footer .about-us h3{
            font-size: 25px;
          }
          footer .about-us p{
            font-size: 18px;
          }
          footer{
            height: 777px;
          }
          .icons {
            font-size: 5rem;
            color: #171c21;
            cursor: pointer;
            margin-right: 100px;
            display: inline-flex;
        }
         nav{
            position: absolute;
            top:90px;
            height: 0;
            left: 0;
            width: 100%;
            background-color:#171f25 ;
            z-index: 999;
            padding-top: 0;
            transition: .5s ease;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
            overflow: hidden;
           
            
         }
           header nav ul {
            display: block;
            width: 110%;
            margin-left: 0;
            padding-right: 0;
            padding-top: 150px;
            margin-top: 150px;
         }
            header {
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 56px;
            position: relative;
        }
      
        header .logo img {
         display: block;
        }


        #check:checked~.icons #menu-icon{
            display: none;   
        }
        #check:checked~header{
            background-color: #171f25;
            display: block;
            
        }
        #check:checked~.icons #close-icon{
            display: block;
            color: #ffff;
            z-index: 9999;
        }
        #check:checked~nav{
            top: -60px;
            height: 240vh;
            
        }
       
        .footer-top .join-us p {
            white-space: pre-line;
            font-size: 18px;
        }
        #check:checked~#about{
            height: 0;
            width: 0;
            display: none;
        }
    }

        @media (max-width: 480px) {
            .intro-header h1 {
                font-size: 28px;
                line-height: 38px;
                text-align: left;

    
            }
        
            .intro-header img {
                width: 150px;
                height: auto;
                
            }

            .quiz-car {
                padding: 15px;
            }
        
            .quiz-content h1 {
                font-size: 32px; /* Smaller font size for mobile */
            }
        
            .quiz-content p {
                font-size: 15px;
            }
        
            .quiz-cta img {
                width: 250px; /* Further reduce image size */
                height: 250px;
            }
        
            .play-btn {
                padding: 8px 18px;
                font-size: 14px; /* Make the button smaller for mobile */
            }

            .quiz-dashboard {
                padding: 15px;
            }
        
            .first-section {
                flex-direction: column;
                text-align: center;
            }
        
            .quiz-dashboard h1 {
                font-size: 24px;
                width: 100%;
            }
        
            .quiz-dashboard p {
                font-size: 16px;
                width: 100%;
            }
        
            .search-bar-container {
                width: 100%;
            }
        
            .quiz-grid {
                grid-template-columns: repeat(1, 1fr);
                justify-content: center;
            }
        
            .quiz-card {
                width: 160px;
                height: 160px;
            }
        
            .btn {
                width: 45px;
                height: 45px;
                padding: 10px;
                font-size: 14px;
            }

        }


